<footer class="footer">

    <div class="footer-container">


        <!-- ================= CONTACT ================= -->

        <div class="footer-column contact-column">

            <h3>
                اطلاعات تماس
            </h3>

            <div class="footer-contact">

                <div class="contact-item">

                    <span class="contact-icon">⌖</span>

                    <p>
                       تهران . پاسداران . نگارستان چهارم . پلاک 4
                    </p>

                </div>


                <div class="contact-item">

                    <span class="contact-icon">⌕</span>

                    <a href="tel:+982112345678">
                       021-22891940
                    </a>

                </div>


                <div class="contact-item">

                    <span class="contact-icon">✉</span>

                    <a href="mailto:info@dpf.co.ir">
                       info@datapd.ir
                    </a>

                </div>


                <div class="contact-item">

                    <span class="contact-icon">◎</span>

                    <a href="#">
                     ساعت کاری 8 صبح تا 4 بعدازظهر
                    </a>

                </div>

            </div>

        </div>



        <!-- ================= SERVICES ================= -->

        <div class="footer-column">

            <h3>
                خدمات
            </h3>

            <ul class="footer-links">

                <li>
                    <a href="https://datahoteling.com/">
                        خدمات ابری
                    </a>
                </li>

                <li>
                    <a href="https://datahoteling.com/">
                        دیتاسنتر
                    </a>
                </li>

                <li>
                    <a href="/Links/Services/cctv/index.html">
                        نظارت تصویری
                    </a>
                </li>

                <li>
                    <a href="/Links/Services/network/index.html">
                        شبکه و امنیت
                    </a>
                </li>

                <li>
                    <a href="http://vitmeet.ir/">
                        هوش مصنوعی
                    </a>
                </li>

            </ul>

        </div>



        <!-- ================= USEFUL LINKS ================= -->

        <div class="footer-column">

            <h3>
                لینک‌های مفید
            </h3>

            <ul class="footer-links">

                <li>
                    <a href="/index.html#articles">
                        مقالات منتخب
                    </a>
                </li>


                <li>
                    <a href="./Links/Form.html">
                       درخواست همکاری
                    </a>
                </li>

                <li>
                    <a href="#">
                        گواهینامه‌ها
                    </a>
                </li>

                <li>
                    <a href="#">
                        مستندات
                    </a>
                </li>

            </ul>

        </div>



        <!-- ================= NEWSLETTER ================= -->

        <div class="footer-column newsletter-column">

            <h3>
                خبرنامه
            </h3>

            <p class="newsletter-text">
                برای دریافت آخرین اخبار و پیشنهادات
                در خبرنامه ما عضو شوید.
            </p>


           <form
    class="newsletter-form"
    id="newsletterForm"
>

    <input
        type="email"
        name="email"
        placeholder="ایمیل خود را وارد کنید"
        required
    >

    <input
        type="hidden"
        name="access_key"
        value="ddf7c832-cbb5-4c27-a8e8-369ced48acd7"
    >

    <input 
        type="hidden"
        name="email"
        value="info@datapd.ir"
    >   
         
    <input
        type="hidden"
        name="subject"
        value="عضویت جدید در خبرنامه دیتاپردازش"
    >

    <input
        type="hidden"
        name="from_name"
        value="خبرنامه دیتاپردازش خلیج فارس"
    >

    <button type="submit">
        ➤
    </button>

</form>


            <!-- Social Media -->

            <div class="social-links">

                <a href="#" aria-label="Telegram">
                  <img src="./img/Telegram2.svg" alt="Telegram">
                </a>

            <!-- Instagram -->
                <a href="#" aria-label="Instagram">
                  <img src="./img/instagram2.svg" alt="Instagram">
                </a>

             <!-- Bale -->
                 <a href="#" aria-label="Bale">
                  <img src="./img/Bale2.svg" alt="Bale">
                 </a>

            </div>

        </div>

    </div>



    <!-- ================= FOOTER BOTTOM ================= -->

   <div class="footer-bottom">

    <div class="enamad">
        <a
            referrerpolicy="origin"
            target="_blank"
            href="https://trustseal.enamad.ir/?id=555631&Code=kEvrBgSLrXg0vWcIHHWeeHKx1DwsOr5d"
        >
            <img
                referrerpolicy="origin"
                src="https://trustseal.enamad.ir/logo.aspx?id=555631&Code=kEvrBgSLrXg0vWcIHHWeeHKx1DwsOr5d"
                alt="نماد اعتماد الکترونیکی"
                code="kEvrBgSLrXg0vWcIHHWeeHKx1DwsOr5d"
            >
        </a>
    </div>

</div>
</footer>